<div style="position:absolute; width:300px; height:260px; top:50%; left:50%; margin-top:-130px; margin-left:-150px; border:1px solid gray">
  <table style="width:100%;height:100%">
    <tr>
      <td colspan="2">
        <h1>Welcome</h1>
      </td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><input ng-model="txtUsername" type="text" /></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input ng-model="txtPassword" type="password" /></td>
    </tr>
    <tr>
      <td></td>
      <td><a ng-click="performLogin()" ng-model="lnkLogin" href>Login</a></td>
    </tr>
  </table>
</div>
